<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            CONTROLE<strong>METAS</strong>
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fluxo-caixa">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Fluxo de Caixa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Minhas Metas
            </NavLink>
        </div>
    </nav>
</div>